*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.one{
    display: grid;
    gap: 20px 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin-top: 40px;
}
.one .box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(224, 182, 167);
}


.one .box:nth-child(2){
    grid-row: span 5;
    grid-column:span 2 ;
}
   
.one .box:nth-child(1),
.one .box:nth-child(3){
    grid-row: span 3;
}
.one .box:nth-child(5){
    grid-row: span 4;
}
.box img{
    width: 100%;
    border-radius: 70%;
}
