*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 200vh;

}
.container{
    max-width: 60%;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    border: 2px solid black;
}
.box{
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    
}
#aBox{
    background-color:red ;
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
   
}
#bBox{
    background-color: rgb(247, 135, 94);
    color: black;
    position: absolute;
    top: 20px;
   left: 20px;
    
}
#cBox{
    background-color: yellow;
    color: black;
    position: absolute;
    top: 30px;
    left: 30px;
    
}
#dBox{
    background-color: rgb(63, 19, 11);
    color: black;
    position: sticky;
    left: 100%;
    top: 0;
}
#eBox{
    background-color:yellowgreen ;
    color: black;
    position: absolute;
    left: 30%;
    top: 80%;
}
    
#fBox{
    background-color: brown;
    color: black;
    position: fixed;
    right: 0;
}
 