* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#header {
  background-image: url("./protagonistas-harry-potter.webp");
  background-repeat: no-repeat;
  padding: 32px;
}

.container {
    background-color: green;
    color: red;
}
.boxHead {
    color: blue;
}