*{
    padding: 3px;
    margin: 5px;
    box-sizing: 0;
}
#header{
    background-image:url("./protagonistas-harry-potter.webp");
    background-repeat: no-repeat;
    
}
   #header{
    background-color: bisque;
   }
   #header1{
    background-color: bisque;
   }
   #header2{
    background-color: bisque;
   }
   #header3{
    background-color: rgb(196, 200, 255);
   }
   #header4{
    background-color: rgb(21, 48, 66);
    
    }