* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.container {
  height: 100vh;
  background: linear-gradient(to bottom, rgb(245, 100, 245), red);
}

#sectionn {
    height: 100%;
}
.box{
    height: 100%;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box1 {
  background-color: azure;
  height: 50vh;
  width: 20%;
}
.box1 h3{
    display: flex;
  justify-content: center;
  align-items: center;
}
.number{
    padding: 5px;
    margin: 5px;
}
.instaclass{
    font-style: italic;
}
 
.fbclass{
    color: blue;
   display: flex;
   justify-content: center;
   align-items: center;
}